.brand-banner{
    background-image: url("../../assets/images/home-header.png");
    height: 768px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    @include d-flex(center, center);
}

.intro{
    width: 100%;
    text-align: right;
    color: #650300;
    & span{
        color: #fff;
        background-color: #AA0601;
        padding: 6px 12px;
    }
}
.title{
    text-align: center;
}
.service{
    width: 100%;
    height: 488px;
    img{
        height: 84px;
        width: 84px;
    }
    .item-category{
        @include d-flex(space-between, stretch);
        gap: 24px; 
    }
    .item{
        width: 25%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.series{
    width: 100%;
    @include d-flex(space-between, center);
    .series-item{
        width: 32.5%;
        text-align: center;
    }
}
.design{
    background-image: url('../../assets/images/index-bg.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    @include d-flex(center, center);
    height: 608px;
    .design-brand{
        width: 100%;
    }
    .design-area{
        @include d-flex(center,center)
    }
    .design-item{
        width: 50%;
        background-color: #fff;
        text-align: center;
        .text{
            padding-top: 8px;
            padding-bottom: 8px;
        }
    }
    h2{
        color:#fff;
    }
}
.feedback{
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 24px;
    margin-bottom: 80px;
    .feedback-item{
        width: 23%;
        box-shadow: 0px 2px 6px #00000029;
    }
    .text-area{
        h4{
            padding-right: 16px;
            padding-left : 16px ;
            padding-top: 16px ; 
        }
        p{
            padding-right: 16px;
            padding-left : 16px;
            padding-top: 8px ; 
        }
        .date{
            padding-right: 16px;
            padding-left: 16px;
            padding-top: 72px;
            padding-bottom: 16px;
        }
    }
}
.contact{
    width: 39.8%;
    .form-control{
        display: flex;
        flex-direction: column;
    }
}