.brand-banner{
    background-image: url("../../assets/images/home-header.png");
    height: 787px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    @include d-flex(center, center);
}
.main-title-color{
    color: #650300;
}
.sub-title-color{
    color: #AA0601;
}
.intro{
    width: 100%;
    text-align: right;
    & span{
        color: #fff;
        background-color: #AA0601;
        padding: 6px 12px;
    }
}
.title{
    text-align: center;
}
.italic{
    font-style: italic;
}
.service{
    width: 100%;
    padding-bottom: 80px;
    img{
        height: 84px;
        width: 84px;
    }
    .item-category{
        @include d-flex(space-between, stretch);
        gap: 24px; 
    }
    .item{
        width: 25%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.series{
    width: 100%;
    @include d-flex(space-between, center);
    .series-item{
        width: 32.5%;
        text-align: center;
    }
}
.design{
    background-image: url('../../assets/images/index-bg.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    @include d-flex(center, center);
    height: 608px;
    .design-brand{
        width: 100%;
    }
    .design-area{
        @include d-flex(center,center)
    }
    .design-item{
        width: 50%;
        background-color: #fff;
        text-align: center;
        .text{
            padding-top: 8px;
            padding-bottom: 8px;
        }
    }
    h2{
        color:#fff;
    }
}
.feedback{
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 24px;
    margin-bottom: 80px;
    .feedback-item{
        width: 24%;
        box-shadow: 0px 2px 6px #00000029;
    }
    .text-area{
        h6{
            padding-right: 16px;
            padding-left : 16px ;
            padding-top: 16px ; 
        }
        p{
            padding-right: 16px;
            padding-left : 16px;
            padding-top: 8px ; 
        }
        .date{
            padding-right: 16px;
            padding-left: 16px;
            padding-top: 72px;
            padding-bottom: 16px;
            font-size: 14px;
            line-height: 21px;
            color: #707070;
        }
    }
}
.contact-us{
    width: 39.8%;
    padding-bottom: $unitLength*10;
    .form-control{
        display: flex;
        flex-direction: column;
        margin-top: $unitLength*3;
    }
    input{
        margin-top: $unitLength;
        height: $alphaBetSize*4.5;
    }
    textarea{
        margin-top: $unitLength;
        height: $alphaBetSize*17;
        color: #333;
    }
    label:not(:first-child){
        margin-top: 22px;
    }
    .checked-box{
        margin-top: $unitLength*2;
        display: flex;
        align-items: center;
        height: 24px;
    }
    button{
        color: #fff;
        font-size: $alphaBetSize*2;
        line-height: $alphaBetSize*3;
        margin-top: $unitLength*6;
        width: 416px;
        height: 56px;
        margin-right: auto;
        margin-left: auto;
        background-color: #AA0601;
        cursor: pointer;
        border: 0px solid #fff;
    }
}
@media(max-width:992px){
    .brand-banner{
        background-image: url("../../assets/images/home-header-sm.png");
    }
    .service{
        height: 720px;
        .item-category{
            flex-wrap: wrap;
        }
        .item{
            width: 48%;
        }
    }
    .series{
        flex-direction: column;
        .series-item{
            width: 48%;
        }
    }
    .design{
        height: 960px;
    }
    .design-area{
        flex-wrap: wrap;
        .design-item{
            width: 100%;
        }
        & :nth-child(2){
            margin-top: 24px;
        }
    }
    .feedback{
        flex-wrap: wrap;
        .feedback-item{
            width: 48%;
        }
    }
    .contact-us{
        width: 80%;
        button{
            width: 336px;
        }
    }
    
}
@media(max-width:768px){
    .service{
        height: 1068px;
        .item{
            width: 100%;
        }
    }
    .series{
        .series-item{
            width: 100%;
        }
    }
    .design{
        height: 820px;
    }
    .feedback{
        .feedback-item{
            width: 100%;
        }
    }
    .contact-us{
        width: 100%;
        button{
            width: 348px;
        }
    }
}